html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  /* Note kindle hates margin:0 ! (or margin-left or margin-top set) it inserts newlines galore */
  /* margin: 0 */
  margin-right: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit */
  vertical-align: baseline;
}

/* end reset */
@page {
  margin-top: 30px;
  margin-bottom: 20px;
}


div#book-title {
    text-align: center;
}

#book-title div p h2 h1 {

}

div#publisher {
    text-align: center;
}

span.author {
    font-style:italic;
}


div.poem {
    padding: 0px 0px 0px 16px;
    margin:  0px 0px 0px 16px;
}

.poem br {
    
   display: block;
   margin: 0px 0;
}


.poem p {
    padding: 0px; 
    margin: 0px;
}

span.ln {
    
    /**display: block;*/
     margin: 0px;
}

span.ln-no {
    text-align: right;
    padding-left: 64px;
    margin-left: 64px;
}

figure#frontispiece {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 5px;
}

figcaption#frontis-caption {
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

div#blurbs {
    padding: 64px;
    margin: 64px;
}

dd.cite {
    font: italic smaller sans-serif;
}


div#preface {
    max-width: 700px;
    padding: 16px 64px 16px 64px;
    margin: 16px 64px 16px 64px;
}

.prose {
    text-indent: 16px;
}

.verse {
    padding: 8px 8px 8px 16px;
    margin: 8px 8px 8px 16px;
    font: smaller sans-serif;
}

span.section {
    font: bold larger serif;
}

.liber {
    padding: 8px 8px 8px 16px;
    margin: 8px 8px 8px 16px;
    text-align:center;
}

.poem-title {
    font-weight: bold;
    font-family: sans-serif;
    font-variant: small-caps;
    font-variant: common-ligatures small-caps;
}
